*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}

.nav {
  background-color: #000000;
  opacity: 0.7;
  color: #fff;
  padding: 10px;
  margin: auto auto;
}

.nav-list {
  display: flex;
  list-style-type: none;
  justify-content: space-around; 
}

.nav-item {
  font-size: 20px;
}

.listing {
  width: 80%;
  margin: 0 auto;
}

.cards-container {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.filters {
  display: flex;
  width: 80%;
  padding: 20px;
}

.filters div {
  margin-left: 5px;
  
}

.filters button {
  padding: 3px;
}

.card {
  padding: 10px;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.showNumber {
  font-size: 24px;
  font-weigth: bold;
  text-align: center;
}
